allow { zygote webview_zygote } baseband_prop:file read;
allow { zygote webview_zygote } baseband_prop:file open;
allow { zygote webview_zygote } baseband_prop:file getattr;
